<div class="jumbotron sub-hero-background">
  <div class="col-lg-8 col-md-12 col-12">
    <h1 class="subpage-hero-heading">Team</h1>
  </div>
</div>

<h2>Our team</h2>
<hr>
<div class="row">
  <div class="col-md-3">
    <%= render 'visitors/team/practitioner' %>
  </div>
  <div class="col-md-3">
    <%= render 'visitors/team/practitioner' %>
  </div>
  <div class="col-md-3">
    <%= render 'visitors/team/practitioner' %>
  </div>
  <div class="col-md-3">
    <%= render 'visitors/team/practitioner' %>
  </div>
  <div class="col-md-3">
    <%= render 'visitors/team/practitioner' %>
  </div>
  <div class="col-md-3">
    <%= render 'visitors/team/practitioner' %>
  </div>
  <div class="col-md-3">
    <%= render 'visitors/team/practitioner' %>
  </div>
</div>
